#timestamp{
padding-left:5em;
font-size: 15px;
}
.heart{
  color: Tomato;
  margin-left: 1em;
  font-size: 1.2em;
}
.brokenheart{
  color: Tomato;
  margin-left: 10em;
  font-size: 1.2em;
}
.like{
  margin-left: 8px;
}
.dislike{
  margin-left: 8px;
}
.submittext{
  float: right;
}
