<h2 class="heading">People's Quotes</h2>
<hr>
<p class="desc">Submit your favorite quote for others to view and like</p>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-quote-form (addQuote)="addmodel($event)"></app-quote-form>

    </div>


    <div class="col-md-6 quotedisplay">
      <ul>
        <div *ngFor="let quote of quotes, let i=index">
          <li>"{{quote.description}}"</li>
          <app-quote-details [quote]='quote' (isComplete)='completeQuote($event,i)'></app-quote-details>
        </div>
      </ul>
    </div>
  </div>
</div>
