.quotedisplay{
  margin-top: 1.5em;
}
.heading{
  margin-left: 44%;
  margin-top: 2px;
}
.desc{
  margin-left: 36%;
  margin-top: -5px;
}
hr{
  border-top: 3px solid black;
  width: 200px;
  margin-top: 0px;
}
