.quotedisplay{
  margin-top: 1.5em;
}
.heading{
  text-align: center;
  margin-top: 2px;
  color: beige;
}
.desc{
  text-align: center;
  margin-top: -5px;
  color: white;
}
hr{
  border-top: 3px solid #904242;
  width: 200px;
  margin-top: 0px;
  position: relative;
}
